[submodule "parser"]
  path = parser
  url = ../parser.git
  branch = development
[submodule "spider-revisited"]
  path = spider-revisited
  url = ../spider-revisited.git
  branch = loguru_fix_test
[submodule "crawler"]
  path = crawler
  url = ../crawler.git
  branch = development
