[submodule "SearchSECOCrawler"]
	path = SearchSECOCrawler
	url = ../crawler.git
	branch = development
[submodule "SearchSECOParser"]
	path = SearchSECOParser
	url = ../parser.git
	branch = development
[submodule "SearchSECOSpider"]
	path = SearchSECOSpider
	url = ../spider-revisited.git
	branch = development
