[submodule "parser"]
  path = parser
  url = ../parser.git
  branch = basic_custom_parser
[submodule "spider-revisited"]
  path = spider-revisited
  url = ../spider-revisited
  branch = development
[submodule "crawler"]
  path = crawler
  url = ../crawler
  branch = development